html {
	font-family: "Roboto", sans-serif;
    font-weight: 200;
}
.parallax img {
    opacity: 0.6;
}
nav, .page-footer {
    background-color: #607d8b;
}
.card {
    margin-bottom: 70px;
}
.card .card-image .card-title {
	color: #F19F4D;
}
.scrumy_imgs {
    margin-top: 30px;
}
.text_center {
    text-align: center;
}
.footer_img {
    margin-left: 20px;
    margin-right: 20px;
}
#initials {
    font-weight: bold;
    color: #F19F4D;
    border: 2px solid white;
    border-radius: 25px;
    padding: 7px;
}